#countries
  .country#contry1
    country1
  .country#contry2
    country2
#country-selectors
  .country-selector#selector1
    %select
      %option Israel
      %option Frane
  .country-selector#selector2
    %select
      %option Israel
      %option Frane