#countries
  .contry#contry1
    country1
  .contry#contry2
    country2
#country-selectors
  %select.country-selector
    %option Israel
    %option Frane
  %select.country-selector
    %option Israel
    %option Frane