#countries
  %canvas.country#country1   
  %canvas.country#country2
#country-selectors
  .country-selector#selector1
    %input#selector1{placeholder: "Select country"}
  .country-selector#selector2
    %input#selector1{placeholder: "Select country"}
