#countries
  %canvas
#country-selectors
  .country-selector#selector1
    %input#selector1{placeholder: "Select country", "data-side"=> "left"}
  .country-selector#selector2
    %input#selector1{placeholder: "Select country", "data-side"=> "right"}
