$country-width: 400px
$country-height: 400px
$country-margin: 20px
$selector-width: 350px

$header-height: 200px
$background-color: #C3FFA6

body
  background: $background-color
  padding: 0
  margin: 0

.header
  position: relative
  height: $header-height
  background: green

.title
  position: absolute
  bottom: 0
  font-family: 'Holtwood One SC', serif
  font-size: 50pt
  padding-left: 20px

.footer
  margin-top: 200px
  height: 100px
  
  .credits
    width: 500px
    margin: auto
    
    li
      list-style: none
      display: inline-block

      a
        text-decoration: none
        color: gray
        padding-left: 20px


.app
  width: $country-width*2 + $country-margin*4 + 4
  margin: auto
  padding: 0px

  #countries
    margin: 0px
    padding: 20px 0px

    canvas
      display: inline-block
      width: $country-width*2 + $country-margin*4
      height: $country-height
      margin: 20px
      margin: 0

  .country-selector
    display: inline-block

    input
      width: $selector-width
      height: 65px
      border: 0
      padding-left: 10px
      font-size: 30pt
      box-sizing: border-box
      -moz-box-sizing: border-box
      outline: 0
      background: #006100
      color: white
      border-radius: 5px

    margin-left: ($country-width - $selector-width)/2 + $country-margin
    margin-right: ($country-width - $selector-width)/2 + $country-margin

.ui-autocomplete
  width: $selector-width
  list-style: none
  font-size: 20pt
  padding: 0
  margin: 0
  box-sizing: border-box
  -moz-box-sizing: border-box
  background: #006100
  overflow-y: scroll
  overflow-x: hidden
  max-height: 300px
  color: white
  .ui-menu-item
    a
      padding: 10px
      width: 100%
      display: block
      box-sizing: border-box

  .ui-state-hover
    background: green

.ui-autocomplete::-webkit-scrollbar 
  width: 3px
  background: green
   
.ui-autocomplete::-webkit-scrollbar-track 
  width: 3px
  background: green

.ui-autocomplete::-webkit-scrollbar-thumb 
  width: 2px
  background: white

::-webkit-input-placeholder  
  color: #dddddd 

::-moz-placeholder 
  color: #dddddd

::-ms-input-placeholder 
  color: #dddddd